on:
  push:
    branches-ignore:
      - "master"
  pull_request:

name: PR Validation
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: clean
        run:  make clean
      - name: install
        run:  npm ci
      - name: build & test
        run:  make ci
      - name: print diff if failed
        if: ${{ failure() }}
        run: cp dist/temp/eth-connect.api.md report/eth-connect.api.md && git diff
